[Desktop Entry]
Name=AndroidMetrics
Comment=Android设备性能监控工具
Exec=python3 /home/rocky/Dev/PythonProject/AndroidMetrics/main.py
Icon=/home/rocky/Dev/PythonProject/AndroidMetrics/assets/icons/androidmetrics_icon.png
Terminal=false
Type=Application
Categories=Development;System;Monitor;
Keywords=android;metrics;monitor;performance;adb;
StartupNotify=true
StartupWMClass=AndroidMetrics